/* Resetting default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

/* Header Styles */
header {
    background-color: #33333300;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust the height as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Hero Section Styles */
.hero-section {
    background-image: url('./Assets/DSC_0166.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #e70c26;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    background-color: #2a2929;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Additional Styles */
.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    color: white;
}

.group-section {
    text-align: center;
    margin-bottom: 50px;
}

.group {
    margin-bottom: 30px;
}

.group h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.group p {
    font-size: 16px;
    margin-bottom: 5px;
}

.group-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.throws-image {
    height: 25px; /* Adjust height for the throws image */
}

.membership-info {
    text-align: center;
}

.membership-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}

/* CSS for 16" laptop */
@media screen and (min-width: 1200px) {
    /* Example styles */
    body {
        font-size: 16px;
    }
}

/* CSS for tablet */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    /* Example styles */
    body {
        font-size: 14px;
    }
}

/* CSS for iPhone */
@media screen and (max-width: 767px) {
    /* Example styles */
    body {
        font-size: 12px;
    }
}
/* Accordion Styles */
.accordion-item {
    border-bottom: 1px solid #ddd;
}
.accordion-header {
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    position: relative;
}
.accordion-header:hover {
    background-color: #d31616;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.accordion-header.active {
    background-color: #ddd;
}
.accordion-icon::before {
    content: "+";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion-header.active .accordion-icon::before {
    content: "-";
}
